/*! Custom styles for this template */
html {
  display: table;
  height: 100%;
  width: 100%;
}
body {
  display: table-cell;
  vertical-align: middle;
}
.login {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
       -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
.login-body {
  padding: 30px;
}
.login-brand {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}
.login-footer {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

#loginform-rememberme:not(checked) {
    position: absolute;
    opacity: 0;
}

@media (min-width: 768px) {
  .login-body {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
